# Source: https://github.com/jeremycohoe/cisco-ios-xe-mdt/blob/master/c9300-grpc-periodic-examples.cfg
# Still untested.  Awaiting actual config

#ensure protocols are running
netconf-yang
gnmi-yang
gnxi

# Example periodic notification for Grafana Dashboard   #

! Last boot
no telemetry ietf subscription 3303
telemetry ietf subscription 3303
 encoding encode-kvgpb
 filter xpath /oc-sys:system/state
 source-address {{ telemetry_source_ip }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

! CPU
no telemetry ietf subscription 3305
telemetry ietf subscription 3305
 encoding encode-kvgpb
 filter xpath /process-cpu-ios-xe-oper:cpu-usage/cpu-utilization/five-seconds
 source-address {{ telemetry_source_ip }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

! Interface Counters
no telemetry ietf subscription 3306
telemetry ietf subscription 3306
 encoding encode-kvgpb
 filter xpath /oc-if:interfaces/interface/state/counters
 source-address {{ telemetry_source_ip }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

no telemetry ietf subscription 102
telemetry ietf subscription 102
 encoding encode-kvgpb
 filter xpath /interfaces-ios-xe-oper:interfaces/interface
 source-address {{ telemetry_source_ip }}
 stream yang-push
 update-policy periodic 2000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

no telemetry ietf subscription 106
telemetry ietf subscription 106
 encoding encode-kvgpb
 filter xpath /memory-ios-xe-oper:memory-statistics/memory-statistic
 source-address {{ telemetry_source_ip }}
 stream yang-push
 update-policy periodic 2000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

no telemetry ietf subscription 108
telemetry ietf subscription 108
 encoding encode-kvgpb
 filter xpath /process-memory-ios-xe-oper:memory-usage-processes/memory-usage-process
 source-address {{ telemetry_source_ip }}
 stream yang-push 
 update-policy periodic 2000
 receiver ip address {{ telemetry_reciever_ip }} 57500 protocol grpc-tcp

 
